*:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

@font-face {
  font-family: 'Timeburner';
  src: url('/assets/fonts/Timeburner.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/assets/fonts/UbuntuMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/Comfortaa-Regular.woff2') format('woff2');
}

body {
  font-family: var(--text-font-family);
}

* {
  touch-action: manipulation;
}
