:root {
  --theme-dark-color-background: hsl(229, 13%, 17%);
  --theme-dark-color-muted: hsl(217, 38%, 15%);
  --theme-dark-color-primary: hsl(342, 71.1%, 53.9%);
  --theme-dark-color-text: white;
  --theme-dark-color-text-muted: #aaa;
  --theme-dark-color-wheel-bottom-layer-background: black;

  --theme-light-color-background: hsl(30, 67%, 98%);
  /* --theme-light-color-muted: hsl(208, 31.9%, 81.6%); */
  /* --theme-light-color-muted: hsl(207.1, 31.3%, 80.6%); */
  --theme-light-color-muted: hsl(208.7, 59%, 92.4%);
  /* --theme-light-color-primary: var(--theme-dark-color-primary); */
  --theme-light-color-primary: hsl(342.3, 84.9%, 46.9%);
  --theme-light-color-text: black;
  --theme-light-color-text-muted: #666;
  --theme-light-color-wheel-bottom-layer-background: white;

  --wheel-gradient-background-opacity: 0.5;
  --wheel-gradient-background-vibrant-opacity: 1;
  --wheel-gradient-background-blur: 30px;
}

html {
  --color-background: var(--theme-dark-color-background);
  --color-muted: var(--theme-dark-color-muted);
  --color-primary: var(--theme-dark-color-primary);
  --color-text: var(--theme-dark-color-text);
  --color-text-muted: var(--theme-dark-color-text-muted);
  --color-glass-background: var(--theme-dark-color-glass-background);
  --color-glass-border: var(--theme-dark-color-glass-border);
  --color-wheel-bottom-layer-background: var(
    --theme-dark-color-wheel-bottom-layer-background
  );

  --color-primary-lightness: 60%;
  --color-primary-chroma: 0.26;

  --bgcolor-lightness: 40%;
  --bgcolor-chroma: 0.075;

  background: var(--color-background);
  color: var(--color-text);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.light-theme {
  --color-background: var(--theme-light-color-background);
  --color-muted: var(--theme-light-color-muted);
  --color-primary: var(--theme-light-color-primary);
  --color-text: var(--theme-light-color-text);
  --color-text-muted: var(--theme-light-color-text-muted);
  --color-glass-background: var(--theme-light-color-glass-background);
  --color-glass-border: var(--theme-light-color-glass-border);
  --color-wheel-bottom-layer-background: var(
    --theme-light-color-wheel-bottom-layer-background
  );

  --color-primary-lightness: 70%;
  --color-primary-chroma: 0.26;

  --bgcolor-lightness: 80%;
  --bgcolor-chroma: 0.15;
}
